*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
    font-family: "Text-Font-2";
}

@font-face {
    font-family: "Text-Font";
    src: url(./Assets/Fonts/NeueHaasDisplay-Mediu.ttf);
}
@font-face {
    font-family: "Text-Font-2";
    src: url(./Assets/Fonts/NeueHaasDisplay-Roman.ttf);
}

